* {
    margin: 0px;
    padding: 0px;
    height: 100%;
    
}
.content {
    display: flex;
    border: 1px solid pink;
    flex-direction: column;
    
}
.bigBlue {
    display: flex;
    background-color:rgb(36, 53, 73);
    flex: 1;
    height: 600px;
    flex-direction: column;
}
.randomInfo {
    background-color: red;
    display: flex;
    flex: 1;
    height: 400px
}
.quote {
    background-color: green;
    display: flex;
    flex: 1;
    height: 400px;
}
.bigBlue nav {
    display: flex;
    height: 30px;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 70%;
    justify-content: flex-start;
    margin: 10px 0px 0px 0px;
}
.listBox {
    list-style-type: none;
    display: flex;
    flex: 1;

}
.listBox li {
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.listBox a {
    color: rgba(255, 255, 255, 0.651);
    text-decoration: none;
}

.logo {
    display: flex;
    flex: 1;
}
.logo a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.seperatorL {
    flex: 1;
    display: flex;
    border: 1px solid green;
    background-color: black;
    flex-direction: column;
    width: 50%;  
}
.seperatorR {
    flex: 1;
    display: flex;
    border: 1px solid green;
    background-color: white;
    flex-direction: column;
    width: 50%;
    
}
.awesomeText {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.awesomeText h1 {
    color: white;
}
.awesomeText p {
    color: rgba(255, 255, 255, 0.575);
}
.awesomeImage {
    flex: 1;
    border: 1px solid black;
}